fastapi[standard]
pytest
requests
sqlmodel
pydantic
pydantic-settings
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-fastapi