name: deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        description: "Enviorment you wish to deploy to"
        type: choice
        options:
          - development
          - staging
          - production
        default: staging
      image:
        type: string
        required: true
        description: "Tag or sha of the image you wish to deploy"

jobs:
  update-manifest:
    environment: ${{github.event.inputs.environment}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: TokioFinal/k8s-configs
          token: ${{secrets.TOKIO_GITOPS_TOKEN}}
      
      - name: setup git config
        shell: bash
        run: |
          git config --global user.email tiagopmadeira@gmail.com
          git config --global user.name TiagoMadeira
          echo ${{github.event.inputs.image}}
      
      - name: update gitops repository
        shell: bash
        run: |
          cd ${{github.event.inputs.environment}}
           
          sed -i "s|image: ${{vars.DOCKER_USERNAME}}/${{vars.DOCKERHUB_REPOSITORY}}:.*|image: ${{vars.DOCKER_USERNAME}}/${{vars.DOCKERHUB_REPOSITORY}}:${{github.event.inputs.image}}|g" post-service-deployment.yaml

          #commit changes
          git add post-service-deployment.yaml
          git commit -m "Deploy image ${{github.event.inputs.image}} to ${{github.event.inputs.environment}} environment"
          
          #push
          git push origin master